<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="rabbitHost" value="localhost" />
    <!--<add key="rabbitHost" value="18.221.100.76" />-->
    <add key="rabbitUserName" value="mert" />
    <add key="rabbitPassword" value="abuzer" />
    <add key="queueName" value="USER_CREATED_REDIS" />
    <add key="redisHost" value="localhost:6379" />
    <add key="redisClientName" value="redisClient" />
  </appSettings>
</configuration>